@charset "UTF-8";

@font-face {
    font-family: 'cordel';
    src: url('../fontes/cordelina.ttf') format('opentype');
    font-weight: normal;
}

*{
    margin: 0px;
    padding: 0px;
}
:root{
    --fonte-padrao: arial, verdana,helvetica,sans-serif;
    --font-destaque: 'cordel', cursive
}

header{
    background-image: linear-gradient(to bottom, #F9BA8F, #FCC463);
    min-height:100px;
    text-align:center;
    padding-top:40px
    }

    html, body{
        min-height: 100%;
        background-color: #F4DF8A;
    }

header > h1{
    color:black;
    font-family:var(--font-destaque);
    font-size:3em;
    font-weight:400;
    margin-bottom:20px;
    text-shadow:0.5px 0.5px 0 #000
}

header > p{
    color:#EF5A13;
    font-family:var(--fonte-padrao);
    font-size:1.2em;
    max-width:500px;
    padding-right:10px;
    padding-left:10px;
    margin:auto;
    text-shadow:0.3px 0.3px 0 #000
}

header > p:hover{
    background-color: #F9BA8F;
    padding:0px;
    border-radius:5px;
    text-decoration:none;
    transition-duration:.5s
}