@charset "UTF-8";

@font-face {
    font-family: 'cordel';
    src: url('../fontes/cordelina.ttf') format('opentype');
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Itim&family=Passion+One:wght@700&display=swap');

:root{
    --cor1: #EF5A13;
    --cor2: #F9BA8F;
    --cor3: #F4DF8A;
    --cor4: #FCC463;
    --cor5: #612F51;

    --fonte-padrao: arial, verdana,helvetica,sans-serif;
    --fonte-2: "Passion One", sans-serif, cursive;
    --fonte-3: "Itim", cursive;
    --fonte-destaque: 'cordel',cursive;      
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body{
    min-height: 100%;
    font-family: var(--fonte-padrao);
    background-color: var(--cor3);
}

a{
    color: var(--cor1);
    text-decoration: none;
    font-weight: bolder; 
}

header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    min-height:100px;
    text-align:center;
    padding-top:40px
    }

header > h1{
    color:black;
    font-family:var(--fonte-destaque);
    font-variant: small-caps;
    font-size:10vw;
    font-weight:400;
    margin-bottom:20px;
    text-shadow:0.5px 0.5px 0 #000
}

header > p{
    color:var(--cor1);
    font-family:var(--fonte-2);
    font-size:1.2em;
    max-width:500px;
    padding-right:10px;
    padding-left:10px;
    margin:auto;
    text-shadow:0.3px 0.3px 0 #000
}

header > p:hover{
    background-color: var(--cor2);
    padding:0px;
    border-radius:5px;
    text-decoration:none;
    transition-duration:.5s
}

section{
    font-family: var(--fonte-3);
    font-size: 3vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section > p{
    padding-bottom: 2em;
}

section.normal{
    background-color: var(--cor3);
    color: #000;
}

section.imagem{
    background-color: var(--cor2);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.418);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p{
    display: inline-block;
    background-color: #0000001a;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
} 

section#imagem01{
    background-image: url(../imagens/interracial-couple-s-hand-holding-each-other-s-finger-against-concrete-backdrop.jpg);
    background-position: center center;
}

section#imagem02{
    background-image: url(../imagens/beautiful-couple-woods-background-forest-clearance-field.jpg);
    background-position: center center;
}

footer {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    font-family: var(--fonte-destaque);
    text-align:center;
    color: var(--cor1);
    padding: 10px;
}